var def_temp = 24; def_fan = 1;
var min = 16; max = 28;
var mid = (max + min)/2;
var fn_min = 1; fn_max = 5;
var readyToSub = false;
var step = 0;
var def_vol = 1;

//background and default events
$(document).ready(function(){
  if (!localStorage['current']) localStorage['current'] = def_temp;
  if (!localStorage['fan']) localStorage['fan'] = def_fan;
  setVolume();
  stubTempValues();
  calcFanBars();
  loadVideos(1);
});

function colorShade(){
  percentage = (localStorage['current'] - mid)/(max - mid) * 100;

  intensity = 0.05;  

  red = 125 + (percentage);
  blue = 125 - (percentage);
  $('.color-overlay').css({
    "background-color": "rgba("+ red +", 200, "+ blue +", "+intensity+")",
  });
};

$(document).on('click', '.js-fn', function(e){
  if(localStorage['fan'] < fn_max){
    localStorage['fan']++;
  }else{
    localStorage['fan'] = 1;
  }
  calcFanBars();
  $('.cloud-container').css({
    opacity: localStorage['fan'] * 0.2
  })
  e.preventDefault();
})

function calcFanBars(){
  bars = (localStorage['fan'] - fn_min)+1;
  $("#fan ul#scale").empty();
  for ( var i = 0; i < bars; i++ ) {
    li = $("<li></li>");
    li.addClass('marker').append($("<span></span>"));
    $("#fan ul#scale").append(li);
  }
};

$(document).on('click','.js-ctrl', function(e){
  old_step = step;
  if ($(this).is("#up")){
    if (localStorage['current'] < max){
      localStorage['current']++;
      step = 1;
      stubTempValues();
      loadVideos(step);
      if (old_step != step) checkLoaded(); //reload if temp change
    }
  }else{
    if (localStorage['current'] > min){
      localStorage['current']--;
      step = -1;
      stubTempValues();
      loadVideos(step);
      if (old_step != step) checkLoaded(); //reload if temp change
    }
  }
  e.preventDefault();
});

function stubTempValues(){
  array = (""+localStorage['current']).split("");
  array.forEach(function(val, i){
    $("#temp #val div:nth-child("+(i+1)+") span").html(val);
  })
  colorShade();
};

//Volume control
$(document).on('click', '#volume .js-volume-toggle', function(e){
  $('.js-volume-toggle').toggleClass('hide');
  setVolume();
});

function setVolume(){
  localStorage['vol'] = $('.js-volume-toggle').not('.hide').data('value');
  if (localStorage['vol'] == 1) {
    $('video.sub').each(function(){ $(this).get(0).volume = 0});
    $('video#main').get(0).volume = 1;
    $('#vol-off').hide();
    $('#vol-on').show();
  }else{
    $('video').each(function(){ $(this).get(0).volume = 0});
    $('#vol-off').show();
    $('#vol-on').hide();
  }
}

//Video play functions
function loadVideos(val){
  if (val > 0){
    $('video#main').attr('src',  "<%= video_path ('27/1.mp4') %>");
    $('video.sub#1').attr('src', "<%= video_path ('27/2.mp4') %>");
    $('video.sub#2').attr('src', "<%= video_path ('27/3.mp4') %>");
    $('video.sub#3').attr('src', "<%= video_path ('27/4.mp4') %>");
    $('video.sub#4').attr('src', "<%= video_path ('27/5.mp4') %>");        
  }else{
    $('video#main').attr('src',  "<%= video_path ('16/1.mp4') %>");
    $('video.sub#1').attr('src', "<%= video_path ('16/2.mp4') %>");
    $('video.sub#2').attr('src', "<%= video_path ('16/3.mp4') %>");
    $('video.sub#3').attr('src', "<%= video_path ('16/4.mp4') %>");
    $('video.sub#4').attr('src', "<%= video_path ('16/5.mp4') %>");        
  }
  setVolume();
};

$(window).load(function() {
  $('.cloud-container').animate({
    opacity: 1,
  }, 2000);
});

$(document).ready(function(){
  checkLoaded();
});

var loadcount = 0;

function checkLoaded() {
  var main = $('video#main').get(0);
  var sub1 = $('video.sub#1').get(0);
  var sub2 = $('video.sub#2').get(0);
  var sub3 = $('video.sub#3').get(0);
  var sub4 = $('video.sub#4').get(0);

  setInterval(function(){
    if (main.readyState > 2 && sub1.readyState > 2 && sub2.readyState > 2 && sub3.readyState > 2 && sub4.readyState > 2){
      readyToSub = true;
      playVideos();
      return false;
    }else if(loadcount > 10){
      return false;
    }else{
      loadcount++;
      checkLoaded();
    }
  }, 5000);

}

function playVideos() {
  $('video').each(function(){ 
    // $(this).get(0).load();
    $(this).get(0).play();
  });

  $('.videoWrapper').css({ "cursor": "pointer" });

  //reset replay boundaries
  $('video#main').bind('play', function(){
    startTime = 3;
    endTime = $(this).get(0).duration - 5;
    var stopAfter = (endTime - startTime) * 1000;
    setTimeout(function(){
      $('video').each(function(){ 
        vid = $(this).get(0);
        vid.pause();
        // vid.currentTime = startTime;
        vid.play();
      });
    }, stopAfter);
  });
}

//Swapping main and sub videos
$(document).on('click', '.sub-vid .svchild', function(e){
  if (readyToSub){
    subvid = $(this).find('video');
    mainvid = $('#main-vid').find('video');
    $(this).find('.video-container').html("").append(mainvid);
    $('#main-vid').find('.video-container').html("").append(subvid);
    subvid.get(0).play();
    mainvid.get(0).play();
  }
})
//Social functions
function popupCenter(url, width, height, name) {
  var left = (screen.width/2)-(width/2);
  var top = (screen.height/2)-(height/2);
  return window.open(url, name, "menubar=no,toolbar=no,status=no,width=" + width + ",height=" + height + ",location=no,left="+left+",top="+top).focus();
}

$(document).on('click','.social', function(e){
  if ($(this).is("#fb")){
    popupCenter('//www.facebook.com/sharer/sharer.php?u='+window.location.origin+'&appId=1574445082774320',600,450,'Share on Facebook');
  }else if ($(this).is("#tw")){
    popupCenter('//twitter.com/intent/tweet?text=Check%20this%20site%20out!&url='+window.location.origin,600,450,'Share on Twitter');
  }else if ($(this).is("#gp")){
    popupCenter('//plus.google.com/share?url='+window.location.origin,600,450,'Share on Google+');
  }
  e.preventDefault();
})