<div class="col-lg-12" id="ctrl-cont">  
  <div class="col-lg-3 pad-left">
    <div class="row btn-row">
      <a href="#" class="cs-btn" >
        <%= fa_icon 'volume-off', base: "circle", class: 'left js-volume-toggle', id: 'mode', data: {value: '0'} %>
        <%= fa_icon 'volume-up', base: "circle", class: 'left js-volume-toggle hide', id: 'mode', data: {value: '1'} %>
      </a>      
    </div>
    <div class="row btn-row">
      <a href="#" class="cs-btn js-fn" ><%= fa_icon 'cloud', base: "circle", class: 'left', id: 'fan' %></a>
    </div>
  </div>
  <div class="col-lg-6 pad-mid">
    <a href="#" class="cs-btn "><%= fa_icon 'power-off', base: "circle", class: 'mid', id: 'power' %></a>
  </div>
  <div class="col-lg-3 pad-right">
    <div class="row btn-row">
      <a href="#" class="cs-btn js-ctrl" id="up"><%= fa_icon 'caret-up', base: "circle", class: 'right', id: 'up' %></a>
    </div>
    <div class="row btn-row">
      <a href="#" class="cs-btn js-ctrl" id="down"><%= fa_icon 'caret-down', base: "circle", class: 'right', id: 'down' %></a>
    </div>
  </div>  
</div>