<%= render partial: 'logo' %>
<div class="row">
  <%= render partial: 'temperature' %>
</div>

<div class="row">
  <%= render partial: 'fan'%>
</div>

<div class="row">
  <%= render partial: 'controls' %>
</div>
<div class="row sub-vid">
  <%= render partial: 'sub_vids' %>  
</div>
