<div class="col-lg-12" id="disp-cont" >
  <div class="row" id="temp">
    <div class="col-lg-3" id="remote-icons">
      <ul class="list-unstyled">
        <li><%= fa_icon "adjust" %></li>
        <li><%= fa_icon "bed" %></li>
        <li><%= fa_icon "leaf"%></li>
        <li><%= fa_icon "fire" %></li>
        <li><%= fa_icon "globe"%></li>
      </ul>
    </div> 
    <div class="col-lg-9" id="val">
      <div class="col-lg-7 sub-val"><span></span></div>
      <div class="col-lg-3 sub-deg">
        <span>&deg;</span><span>C</span>            
      </div>
    </div>
  </div>
</div>